<!-- 
<form [formGroup]="contratForm" (ngSubmit)="onSubmit()">
   <mat-form-field appearance="fill">
    <mat-label>Type</mat-label>
    <input matInput formControlName="type">
  </mat-form-field> 
  

  <div class="col-md-6 col-sm-12 mb-3">
          <label class="form-label">Type <small style="color: red;">*</small></label>
          <ng-select 
            [items]="typeContrat" 
             bindLabel="description" 
             bindValue="name"
              placeholder="Selectionner..."
            formControlName="typeContrat">
          </ng-select>
        </div>

  <mat-form-field appearance="fill">
    <mat-label>Date début</mat-label>
    <input matInput type="date" formControlName="dateDebut">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Date fin</mat-label>
    <input matInput type="date" formControlName="dateFin">
  </mat-form-field> 

  <button mat-raised-button color="primary" type="submit">Ajouter</button>
</form> -->
<section *ngIf="!isSearch">   
    <form [formGroup]="form">
      <div class="row">
        <div class="col-sm-6">
          <div class="mb-3"> 
            <label for="dateDebut" class="form-label">Date début<small style="color: red;">*</small></label>
            <input type="date" class="form-control form-control-lg" id="dateDebut" formControlName="dateDebut">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="mb-3">
            <label for="dateFin" class="form-label">Date fin<small style="color: red;">*</small></label>
            <input type="date" class="form-control form-control-lg" id="dateFin" formControlName="dateFin">
          </div>
        </div>

        <div class="col-md-6 col-sm-12 mb-3">
          <label class="form-label">Type contrat <small style="color: red;">*</small></label>
          <ng-select 
            [items]="typeContrat" 
             bindLabel="description" 
             bindValue="name"
              placeholder="Selectionner..."
            formControlName="typeContrat">
          </ng-select>
        </div>
        <div class="col-md-6 col-sm-12 mb-3">
          <label class="form-label">Statut contrat <small style="color: red;">*</small></label>
          <ng-select 
            [items]="statusContrat" 
             bindLabel="description" 
             bindValue="name"
              placeholder="Selectionner..."
            formControlName="statusContrat">
          </ng-select>
        </div>
      </div>
  
    </form>
  
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="close()">Fermer</button>
      <button type="button" class="btn btn-primary" (click)="create()" [disabled]="!form.valid">Enregistrer</button>
    </div>
  </section>
  
 <section *ngIf="isSearch">   
    <form [formGroup]="form">
      <div class="row">
        <div class="col-sm-6">
          <div class="mb-3"> 
            <label for="nom" class="form-label">Nom<small style="color: red;">*</small></label>
            <input type="text" class="form-control form-control-lg" id="nom" placeholder="Nom" formControlName="name">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="mb-3">
            <label for="prenom" class="form-label">Prenom<small style="color: red;">*</small></label>
            <input type="text" class="form-control form-control-lg" id="prenom" placeholder="Prenom" formControlName="lastName">
          </div>
        </div>

        <div class="col-md-6 col-sm-12 mb-3">
          <label class="form-label">Sexe <small style="color: red;">*</small></label>
          <ng-select 
            [items]="typeContrat" 
             bindLabel="description" 
             bindValue="name"
              placeholder="Selectionner..."
            formControlName="sexe">
          </ng-select>
        </div>
        <div class="col-sm-6">
          <div class="mb-3">
            <label for="prenom" class="form-label">Date Naissance<small style="color: red;">*</small></label>
            <input type="date" class="form-control form-control-lg" id="prenom" placeholder="date naissance" formControlName="dni">
          </div>
        </div>
      </div>
    </form>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="close()">Fermer</button>
      <button type="button" class="btn btn-primary" (click)="doSearch()">Rechercher</button>
    </div>
  </section>
   