<section>      
    <form [formGroup]="form">

      <div class="row">
        <div class="col-sm-6">
          <div class="mb-3"> 
            <label for="int" class="form-label">Titre de la mission<small style="color: red;">*</small></label>
            <input type="text" class="form-control form-control-lg" id="int" placeholder="titre" formControlName="titre">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="mb-3">
            <label for="serv" class="form-label">Description<small style="color: red;">*</small></label>
            <input type="text" class="form-control form-control-lg" id="serv" placeholder="Description" formControlName="description">
          </div>
        </div>

    </div>
        
        <div class="row">
            <div class="col-md-6 col-sm-12 mb-3">
                <label class="form-label">Status de la mission <small style="color: red;">*</small></label>
                <ng-select 
                    [items]="status" 
                    bindLabel="description" 
                    bindValue="name"
                    placeholder="Selectionner..."
                    formControlName="status">
                </ng-select>
            </div>
            <div class="col-md-6">
            <div class="mb-3"> 
                <label for="lieu" class="form-label">Lieu</label>
                <input type="text" class="form-control form-control-lg" id="lieu" placeholder="Lieu" formControlName="lieu">
            </div>
            </div>
        </div>

        <div class="row">
            <!-- date debut -->
            <div class="col-6">
                <label for="dtd" class="form-label">Date de debut<small style="color: red;">*</small></label>
                <input type="date" class="form-control form-control-lg" id="dtd" placeholder="date de debut" formControlName="dateDebut">
            </div>
            <!-- date fin -->
            <div class="col-6">
                <label for="dtf" class="form-label">Date de fin<small style="color: red;">*</small></label>
                <input type="date" class="form-control form-control-lg" id="dtf" placeholder="date de fin" formControlName="dateFin">
            </div>
        </div>
  
    </form>
  
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="close()">Fermer</button>
      <button type="button" class="btn btn-primary" (click)="update()" [disabled]="!form.valid">Enregistrer</button>
    </div>
  </section>

  