<div class="row flex-wrap grid-margin mb-1 align-items-start">

    <!-- Breadcrumb à gauche -->
    <nav class="page-breadcrumb gap-2 d-flex flex-column mb-4 col-md-6">
        <h2>Candidat</h2>
        <p>L'ensemble des candidats de l'entreprise</p>
    </nav>


    <!-- Boutons à droite -->
    <div class="d-flex justify-content-end align-items-center gap-2 col-md-6">
        <button type="button" class="btn btn-secondary btn-icon me-2" (click)="openAddCandidat(SearchCandidatModal)">
            <i class="feather icon-search"></i>
        </button>
        <button type="button" class="btn border-0 btn-primary bg-special btn-icon-text d-flex align-items-center gap-2" (click)="openAddCandidat(addCandidatModal)">
            <i class="feather icon-plus-circle"></i> Nouveau candidat
        </button>
    </div>

</div>

<div class="card mt-4" style="width: 100%;">
    <div class="card-body p-0" style="width: 100%;">
        <section class="table-container" tabindex="0" style="width: 100%; overflow-x: auto;">
            <!-- <app-spinner *ngIf="loadingIndicator" [displayedColumns]="displayedColumns"></app-spinner> -->

            <table mat-table [dataSource]="dataSource?.payload" class="w-100">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef class="table-head-text bg-special" style="min-width:100px;"> Nom du candidat </th>
                    <td mat-cell *matCellDef="let candidat" class="text-left"> {{candidat?.name}} </td>
                </ng-container>

                <ng-container matColumnDef="electionName">
                    <th mat-header-cell *matHeaderCellDef class="table-head-text text bg-special" style="min-width:100px;">
                        Election </th>
                    <td mat-cell *matCellDef="let candidat" class="text-left"> <span>{{candidat?.electionName}} </span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="nbrVote">
                    <th mat-header-cell *matHeaderCellDef class="table-head-text text-center bg-special" style="min-width:50px;">
                        Voies </th>
                    <td mat-cell *matCellDef="let candidat" class="text-center"> {{candidat?.nbrVote}} </td>
                </ng-container>

                <ng-container matColumnDef="date_postule">
                    <th mat-header-cell *matHeaderCellDef class="table-head-text text-center bg-special" style="min-width:50px;">
                        Date postule </th>
                    <td mat-cell *matCellDef="let candidat" class="text-center"> {{candidat?.date_postule}} </td>
                </ng-container>


                <!-- <app-list-contrat></app-list-contrat> -->
                <ng-container matColumnDef="actions" stickyEnd>
                    <th mat-header-cell *matHeaderCellDef class="table-head-text bg-special" style="min-width:0px;">
                        Actions </th>
                    <td mat-cell *matCellDef="let candidat">
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="openEditCandidat(EditCandidatModal, candidat)">
                                <mat-icon>edit</mat-icon>
                                <span>Modifier</span>
                            </button>
                            <button mat-menu-item (click)="deleteCandidat(candidat.id)">
                                <mat-icon>delete</mat-icon>
                                <span>Supprimer</span>
                            </button>
                        </mat-menu>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="table-head-bg"></tr>
                <tr mat-row *matRowDef="let emprow; columns: displayedColumns"></tr>
            </table>

            <span *ngIf="dataSource?.payload?.length == 0" class="paginate text-danger mt-4">Les critères de recherche
                tels qu'énoncés ne correspondent à aucun candidat</span>

            <div class="paginate">
                <ngb-pagination [collectionSize]="dataSource?.metadata?.totalElements" [page]="pageOptions.page+1"
                    [pageSize]="pageOptions.size" [maxSize]="5" (pageChange)="paginate($event)" size="sm"
                    [rotate]="true" [ellipses]="true" [boundaryLinks]="true">
                </ngb-pagination>
            </div>
        </section>
    </div>
</div>

<!-- search candidat -->
<ng-template #SearchCandidatModal let-modal>
    <div class="modal-header bg-special">
        <h5 class="modal-title" id="exampleModalLabel">Rechercher des Candidats</h5>
        <mat-icon class="cursor-pointer" fontIcon="close" (click)="modal.close()"></mat-icon>
    </div>
    <div class="modal-body">
        <app-add-candidat (search)="doSearch($event)" [isSearch]="true" (submit)="close()"></app-add-candidat>
    </div>
</ng-template>
<!-- search candidat -->

<!--Add candidat-->
<ng-template #addCandidatModal let-modal>
    <div class="modal-header bg-special">
        <h5 class="modal-title" id="exampleModalLabel">Ajout d'un Candidat</h5>
        <mat-icon class="cursor-pointer" fontIcon="close" (click)="modal.close()"></mat-icon>
    </div>
    <div class="modal-body">
        <app-add-candidat [isSearch]="false" (submit)="close()"></app-add-candidat>
    </div>
</ng-template>
<!--End Add candidat-->

<!--Edit candidat-->
    <ng-template #EditCandidatModal let-modal>
        <div class="modal-header bg-special">
            <h5 class="modal-title" id="exampleModalLabel">Modifier un Candidat</h5>
            <mat-icon class="cursor-pointer" fontIcon="close" (click)="modal.close()"></mat-icon>
        </div>
        <div class="modal-body">
            <app-edit-candidat [elections]="elections?.payload" (submit)="close()" [candidatToUpdate]="candidatToUpdate"></app-edit-candidat>
        </div> 
    </ng-template>
<!--End Edit candidat-->
