<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin mb-1 mt-3 ms-3 me-3">
    <!-- Breadcrumb à gauche -->
    <nav class="page-breadcrumb cursor-pointer">
        <button type="button" class="btn btn-secondary btn-icon me-2" (click)="openAddMission(SearchMissionModal)">
            <i class="feather icon-search"></i>
        </button>
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item active"></li>
        </ol>
    </nav>

    <!-- Boutons à droite -->
    <div class="d-flex justify-content-end align-items-center gap-2">
        <button type="button" class="btn btn-primary btn-icon-text d-flex gap-2" (click)="openAddMission(addMissionModal)">
            Nouvelle mission <i class="feather icon-plus-circle"></i> 
        </button>
    </div>

</div>

<div class="card mt-4">
    <div class="card-body p-0">
        <section class="table-container" tabindex="0">
            <table mat-table [dataSource]="dataSource?.payload" class="mat-table">
                <ng-container matColumnDef="titre">
                    <th mat-header-cell *matHeaderCellDef class="table-head-text text-center" style="min-width:50px;">
                        Titre </th>
                    <td mat-cell *matCellDef="let mission" class="text-center"> {{mission?.titre}} </td>
                </ng-container>


                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef class="table-head-text text-center" style="min-width:50px;">
                        Description </th>
                    <td mat-cell *matCellDef="let mission" class="text-center"> {{mission?.description}} </td>
                </ng-container>

                
                
                <ng-container matColumnDef="lieu">
                    <th mat-header-cell *matHeaderCellDef class="table-head-text text-center" style="min-width:50px;">
                        Lieu </th>
                    <td mat-cell *matCellDef="let mission" class="text-center"> {{mission?.lieu}} </td>
                </ng-container>

                
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef class="table-head-text text-center" style="min-width:50px;">
                        Status </th>
                    <td mat-cell *matCellDef="let mission" class="text-center"> {{mission?.status.description}} </td>
                </ng-container>
                
                <ng-container matColumnDef="dateDebut">
                    <th mat-header-cell *matHeaderCellDef class="table-head-text text-center" style="min-width:50px;">
                        Date de debut </th>
                    <td mat-cell *matCellDef="let mission" class="text-center"> {{dateFormater(mission?.dateDebut)}} </td>
                </ng-container>
                
                <ng-container matColumnDef="dateFin">
                    <th mat-header-cell *matHeaderCellDef class="table-head-text text-center" style="min-width:50px;">
                        Date de fin </th>
                    <td mat-cell *matCellDef="let mission" class="text-center"> {{ dateFormater(mission?.dateFin)}} </td>
                </ng-container>

                
                <ng-container matColumnDef="actions" stickyEnd>
                    <th mat-header-cell *matHeaderCellDef class="table-head-text" style="min-width:0px;">
                        Actions </th>
                    <td mat-cell *matCellDef="let mission">
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="openEditMission(EditMissionModal, mission)">
                                <mat-icon>edit</mat-icon>
                                <span>Modifier</span>
                            </button>
                            <button mat-menu-item (click)="deleteMission(mission.id)">
                                <mat-icon>delete</mat-icon>
                                <span>Supprimer</span>
                            </button>
                        </mat-menu>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="table-head-bg"></tr>
                <tr mat-row *matRowDef="let emprow; columns: displayedColumns"></tr>
            </table>
            <span *ngIf="dataSource?.payload?.length == 0" class="paginate text-danger mt-4">Les critères de recherche
                tels qu'énoncés ne correspondent à aucun contrat</span>

            <div class="paginate">
                <ngb-pagination [collectionSize]="dataSource?.metadata?.totalElements" [page]="pageOptions.page+1"
                    [pageSize]="pageOptions.size" [maxSize]="5" (pageChange)="paginate($event)" size="sm"
                    [rotate]="true" [ellipses]="true" [boundaryLinks]="true">
                </ngb-pagination>
            </div>
        </section>
      
    </div>
</div>

<!-- search mission -->
<ng-template #SearchMissionModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Rechercher mission</h5>
        <button type="button" class="btn-close"  (click)="modal.close('by: close icon')" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <app-add-mission-agent (search)="doSearch($event)" [isSearch]="true" [agentId]=agentId (submit)="close()"></app-add-mission-agent>
    </div>
</ng-template>
<!-- search mission -->

<!--Add mission-->
<ng-template #addMissionModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ajouter une mission</h5>
        <button type="button" class="btn-close" (click)="modal.close('by: close icon')" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <app-add-mission-agent [isSearch]="false" (submit)="close()" [agentId]=agentId></app-add-mission-agent>
    </div>
</ng-template>
<!--End Add mission-->

<!--Edit mission-->
<ng-template #EditMissionModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modifier une mission</h5>
        <button type="button" class="btn-close" (click)="modal.close('by: close icon')" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <app-edit-mission-agent [agentId]=agentId (submit)="close()"[missionToUpdate]="missionToUpdate"></app-edit-mission-agent>
    </div> 
</ng-template>
<!--End Edit mission-->