
<div class="container d-flex flex-column">

    <!-- projet informations -->
    <!-- <div class="  projet-info-breafing gap-1 d-flex flex-column">
        <h1 class="fw-bold">{{ projet?.name }}</h1>
        <div class="row align-items-center d-flex">
            <h5 class="d-flex gap-1">
                <mat-icon class="text-primary fs-4">phone</mat-icon>
                <span class="text-primary"></span>
            </h5>
        </div>
    </div>
     -->
    <!-- Section d'informations sur le projet RSE -->

    <div class="container-fluid py-3 mb-3" style="background: #f8f9fa; border-radius: 8px;">
        <div class="row col-md-6 align-items-start">
            <div class="row col-md-12">
                <div class="d-flex align-items-center gap-3">
                    <h2 class="mb-1" style="font-weight: 700;">{{ projet.name.toUpperCase() }}</h2>
                    <span class="badge bg-success me-2">{{ projet.pilier_rse.description }}</span>
                </div>
                
                <nav class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="cursor-pointer breadcrumb-item text-bitbucket fw-bold"><a routerLink="/admin/rse">PROJETS</a></li>
                        <li class="breadcrumb-item active">{{ projet?.name.toUpperCase() }}</li>
                        <li class="breadcrumb-item active">SUIVI</li>
                    </ol>
                </nav>
            </div>

        </div>

        <div class="row col-md-12 gap-2">
            <div class="row col-md-6 gap-2">
                <span class="col-md-5 card card-group d-flex flex-column justify-content-center gap-1">
                    <i class="icon-user-checkd"></i>
                    <strong class="text-muted">Chef de projet :</strong> <span>{{ projet.chef_projet }} </span>
                </span>
    
                <span class="col-md-5 card card-group d-flex flex-column justify-content-center gap-1">
                    <i class="bi bi-cash-stack me-1"></i>
                    <strong class="text-muted">Budget prévisionnel :</strong> <span>{{ projet.budget_previsionnel | currency:'XOF' }} </span>
                </span>
    
                <span class="col-md-5 card card-group d-flex flex-column justify-content-center gap-1">
                    <i class="bi bi-cash me-1"></i>
                    <strong class="text-muted">Budget consommé :</strong> <span>{{ projet.budget_consumme | currency:'XOF' }} </span>

                </span>
                
                <span class="col-md-5 card card-group d-flex flex-column justify-content-center gap-1">
                    <i class="bi bi-flag me-1"></i>
                    <strong class="text-muted">Statut :</strong> <span>{{ projet.statut_projet.description }} </span>
                </span>
            </div>


            <div class="row col-md-6 gap-2 align-items-start">
                <div class="row col-md-12 card card-group p-2 gap-2">
                    <!-- <strong class="col-md-12">Description</strong> -->
                    <strong class="text-muted col-md-12">Description</strong>
                    <p class="col-md-12">{{ projet.description }}</p>
                </div>
    
                <div class="row col-md-12 card card-group ">
                    <div class="row text-start p-2">
                        <div class="col-md-6 gap-1">
                            <strong class="text-muted">Début Prévu Le</strong>
                            <div>{{ projet.dateDebutPrevu | date:'dd/MM/yyyy' }}</div>
                        </div>
                        <div class="col-md-6 gap-1" *ngIf="projet.dateDebutReel">
                            <strong class="text-muted">Début Réel Le</strong>
                            <div>{{ projet.dateDebutReel | date:'dd/MM/yyyy' }}</div>
                        </div>
                        <div class="col-md-6 gap-1 mt-3">
                            <strong class="text-muted">Fin Prévue Pour Le</strong>
                            <div>{{ projet.dateFinPrevu | date:'dd/MM/yyyy' }}</div>
                        </div>
                        <div *ngIf="projet.dateFinReel" class="col-md-6 gap-1 mt-3">
                            <strong class="text-muted">Fin Réelle Le</strong>
                            <div>{{ projet.dateFinReel | date:'dd/MM/yyyy' }}</div>
                        </div>
                    </div>
                </div>
        
            </div>
        </div>

    </div>
  
    
    <!-- Boutons à droite -->
    <div class="d-flex justify-content-start align-items-center mt-2 card card-group">
        <!-- <button [ngClass]="option==1 ? 'col-3 border-0 fs-6 p-2 bg-primary text-white':'col-3 border-0 fs-6 p-2'" (click)="option=1">Informations personnelle</button> -->
        <!-- <button class="col-3 border-0 fs-6 p-2 bg-btn-special-active">test</button> -->
        <button [ngClass]="option==2 ? 'col-3 border-0 fs-6 p-2 bg-btn-special-active text-white':' bg-transparent col-3 border-0 fs-6 p-2'" (click)="option=2">Objectifs</button>
        <button [ngClass]="option==4 ? 'col-3 border-0 fs-6 p-2 bg-btn-special-active text-white':' bg-transparent col-3 border-0 fs-6 p-2'" (click)="option=4">Taches</button>
        <button [ngClass]="option==3 ? 'col-3 border-0 fs-6 p-2 bg-btn-special-active text-white':' bg-transparent col-3 border-0 fs-6 p-2'" (click)="option=3">Indicateurs</button>
        <button [ngClass]="option==5 ? 'col-3 border-0 fs-6 p-2 bg-btn-special-active text-white':' bg-transparent col-3 border-0 fs-6 p-2'" (click)="option=5">Parties prenantes</button>
    </div>
    
    <div *ngIf="option==1" class="card mt-4">
        <!-- info component -->
    </div>
    
    <div *ngIf="option==2" class="card mt-4">
        <!-- composant objectifs -->
    </div>
    
    <div *ngIf="option==3" class="card mt-4">
        <!-- composant taches -->
    </div>
    
    <div *ngIf="option==4" class="card mt-4">
        <!-- composant indicateurs -->
    </div>
    
    <div *ngIf="option==5" class="card mt-4">
        <!-- composant partie prenante -->
    </div>
</div>


