
<div class="row w-100 mx-0 election-form-page">
    <div *ngIf="isEmployeIsService" class="col-md-8 col-xl-6 mx-auto my-auto">
      <div class="card">
        <div class="row">
          <div class="col-md-12 ps-md-0">
            <div *ngIf="!isEmployeVoted" class="auth-form-wrapper px-4 pb-5 gap-4 d-flex flex-column">
                <div class="card py-3">
                    <h2 class="text-center fw-normal mb-3">Formulaire de Vote en Ligne</h2>
                    <div class="row">
                        <h3 class="text-center fw-normal col-md-6">Election : <span class="text-bitbucket"> {{election?.name}}</span></h3>
                        <h3 class="text-center fw-normal col-md-6">Departement : <span class="text-bitbucket"> {{election?.serviceName}}</span></h3>

                    </div>
                </div>
              
                <div class="col-md-12 mx-auto p-3 my-auto">
                    <form *ngIf="!isVoted" [formGroup]="form">
                        <div class="row col-sm-12">
                            <div class="mb-3 col-md-12"> 
                                <label for="nom" class="form-label">Votre matricule<small style="color: red;">*</small></label>
                                <input type="text" class="form-control form-control-lg" id="nom" placeholder="Entrer votre matricul ici" formControlName="name">
                                <small *ngIf="isMatriculError" style="color: red;">Aucun employe ne correspond a ce matricul</small>
                            </div>
                        </div>
                        
                        <span class="form-label col-md-12">Choix de votre candidat<small style="color: red;">*</small></span>
                        <div class="row d-flex gap-3 mt-3">
                            <div class="form-check d-flex align-items-center gap-5"  *ngFor="let candidat of candidats?.payload; let i = index">
                                <div>
                                    <img src="assets/images/profil.png" width="50" height="50" alt="">
                                </div>
                                <label class="form-check-label" >
                                    {{candidat?.name}}
                                    <input class="form-check-input" type="radio" [value]="candidat?.id" formControlName="candidatId">
                                </label>
                            </div>
                        </div>
                        <!-- <div class="row px-3" *ngFor="let candidat of candidats?.payload; let i = index">
                            <div class="form-check col-md-4">
                                <input 
                                    class="form-check-input" 
                                    type="radio" 
                                    name="flexRadioDefault" 
                                    [id]="'flexRadioDefault' + i" 
                                    [value]="candidat?.id" 
                                    formControlName="candidatId">
                                <label 
                                    class="form-check-label" 
                                    [for]="'flexRadioDefault' + i">
                                    {{ candidat?.name }}
                                </label>
                            </div>
                        </div> -->
                        
                
                    </form>
                
                    <div *ngIf="!isVoted" class="modal-footer">
                        <!-- <button type="button" class="btn btn-secondary" (click)="close()">Fermer</button> -->
                        <button type="button" class="btn btn-primary" (click)="create()" [disabled]="!form.valid">Voter</button>
                    </div>
                    
            
                    <div  *ngIf="isVoted"  class="py-3 flex-column text-center justify-content-center">
                        <div>
                            <img src="assets/images/check.png" width="60" height="60" alt="">
                        </div>
                        <div class="row">
                            <h2 class="text-center fw-normal col-md-12">Vote reussi !</h2>
                        </div>
                    </div>
                  

                </div>

            </div>

            
            <div *ngIf="isEmployeVoted" class="auth-form-wrapper px-4 gap-4 d-flex flex-column">
                <div class="py-3 flex-column text-center justify-content-center">
                    <div>
                        <img src="assets/images/error-check.png" width="60" height="60" alt="">
                    </div>
                    <div class="row">
                        <h2 class="text-center fw-normal col-md-12">Vote refuse ! <strong>Vous aviez deja vote.</strong></h2>
                    </div>
                </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="!isEmployeIsService" class="auth-form-wrapper px-4 gap-4 d-flex flex-column">
        <div class="py-3 flex-column text-center justify-content-center">
            <div>
                <img src="assets/images/error-check.png" width="60" height="60" alt="">
            </div>
            <div class="row">
                <h2 class="text-center fw-normal col-md-12">Vote refuse ! <strong>Vous ne faites pas parti de ce departement.</strong></h2>
            </div>
        </div>
    </div>
    
</div>


